body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #212529;
}

.container {
    max-width: 960px;
    margin: auto;
    padding: 20px;
}

h1{
    color: #212529;
    margin-bottom: 20px;
	text-align: center;
}

h2{
    color: #212529;
    margin-bottom: 20px;
	text-align: center;
}
p{
	text-align: center;
}

.form-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.table-section {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.error-message {
    text-align: center;
    color: red;
}
